{% extends "base.html"%}
{% load crispy_forms_tags %}
{% block title %}
    Ask Question
{% endblock %}

{% block content %}

    <div class="content-section" style="margin: auto; width: fit-content;">
        <br>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" style=" direction: rtl;">
                <legend style="color: blue; font-weight: bold;">
                {{ form|crispy }}
                {{ form.media }}
            </fieldset>
            <button type="submit" class="btn btn-outline-dark mt-1">Submit</button>
        </form>
        <br>
    </div>

{% endblock %}