{% extends "base.html" %}
{% block title %}
    دسته بندی ها
{% endblock title %}


{% block content %}

    <style>

        .container {
            direction: rtl;
        }

        div.question {
            
            width: fit-content;
            /* background-color: blueviolet; */
        }

        a {
            text-decoration: none;
            color: #006d77;
        }

        a:hover {
            color: #ef233c;
        }

        legend {
            font-weight: 800;
        }

    </style>

    <br>
    <div class="container">
        <legend>دسته بندی ها</legend>
        <hr>
        {% for category in categories %}
            <div class="question">
                <h5><a href="{% url 'category_articles_list' category.id category.slug %}" class="link">{{ category.name }}</a></h5>
            </div>
        {% endfor %}
    </div>
{% endblock content %}