{% extends "base.html"%}
{% block title %}
    {{ question.title }}
{% endblock %}


{% block content %}

    <br>
    <!-- <div class="container">
        <h2> {{ question.title }} </h2>
        <hr>
        <p> {{ question.description|safe }} </p>
        <hr>
        <p><b>{{ question.tag }}</b></p>
        <br>
    </div> -->
    <div class="card" style="background-color: #D9CAAD; width: 80rem; height: fit-content; margin: auto;">
        <ul>
            <br>
            <li><h4><a style="text-decoration: none; color: #051934;" href="{% url 'question_detail' question.pk %}" class="link">{{ question.title }}</a></h4></li>
            <!-- adding (|safe) to properly show the cdkeditor genarated text -->
            <p style="color: #646A66;">{{ question.description|safe}}</p>
            {% for tag in question.tags.all %}
                <p style="color: #C03507;"><em>{{ tag }}</em></p>
            {% endfor %}
            <a href="{% url 'questions' %}" class="btn btn-outline-dark btn-sm">Back</a>
        </ul>
        <p style="width: fit-content; margin-left: 32px; padding: 3px;" class="badge bg-secondary">{{ question.author }}</p>
    </div>


{% endblock %}
