{% extends "base.html"%}
{% block title %}
    سوالات
{% endblock %}

{% block content %}

    <style>
        div.card {
            background-color: #E9EAEE; 
            width: 55rem; 
            border-radius: 25px; 
            height: fit-content; 
            margin: auto; 
            direction: rtl;
        }

        a {
            text-decoration: none; 
            color: #051934;
        }

        p {
            color: #646A66;
        }

        p.tag {
            color: #970574;
            display: inline;
        }

        p#tag-label {
            display: inline;
            color: #000000;
        }

    </style>

    <br>
    <div class="container">
        {% for question in questions%}
            <div class="card">
                <ul>
                    <br>
                    <li><h4><a href="{% url 'question_detail' question.pk %}" class="link">{{ question.title }}</a></h4></li>
                    <!-- adding (|safe) to properly show the cdkeditor genarated text -->
                    <p>{{ question.description|truncatewords:10|safe}}</p>
                    {% if question.tags.exists%}                    
                        <div class="tags">
                            <p id="tag-label">برچسب ها:</p>
                            {% for tag in question.tags.all %}
                                <p class="tag">{{ tag }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <!-- <a href="{% url 'question_detail' question.pk %}" class="btn btn-outline-dark btn-sm" role="button">Detail</a> -->
                </ul>
            </div>
            <br>
        {% endfor %}
    </div>

{% endblock %}
    