{% extends "base.html"%}
{% load hitcount_tags %}
{% block title %}
    {{ question.title }}
{% endblock %}


{% block content %}

    <style>
        div.card{
            direction: rtl;
            background-color: #D9CAAD; 
            width: 80rem; 
            height: fit-content; 
            margin: auto;
        }

        div.content-section{
            width: fit-content; 
            margin: 20px;
        }

        p {
            margin: 5px 0;
        }

        h6 {
            color: red;
        }

        p.tags {
            color: #C03507; 
            margin: 5px 10px; 
            display: inline;
        }
    </style>


    <br>
    <div class="card">
        <div class="content-section">
            <h4> {{ question.title }} </h4>
            <!-- adding (|safe) to properly show the cdkeditor genarated text -->
            <p class="content" >{{ question.description|safe}}</p>
            <div>
                {% for tag in question.tags.all %}
            </div>
                    <h6><em>{{ tag }}</em></h6>
                {% endfor %}
            {% if question.author == user %}
                <a style="text-decoration: none;width: fit-content; margin-left: 30px; padding: 3px" class="btn btn-outline-dark btn-sm" href="{% url 'update_question' question.pk %}">بروزرسانی</a>
                <a style="text-decoration: none;width: fit-content; margin-left: 30px; padding: 3px" class="btn btn-outline-danger btn-sm" href="{% url 'delete_question' question.pk %}">حذف</a>
            {% endif %}
            <a href="{% url 'questions' %}" class="btn btn-outline-dark btn-sm">برگشت</a>
            <p class="badge bg-secondary">{{ question.author }}</p>
            <p class="badge bg-secondary">تعداد بازدید:{% get_hit_count for question %}</p>
        </div>
        <br>
        <!--  like for question -->
        <form method="POST" action="{% url 'question_like' question.pk %}">
            {% csrf_token %}
            {% if request.user.is_authenticated %}
            {% if question_liked %}
                <button class="btn btn-danger btn-sm" type="submit" name="question_id" value="{{ question.id }}">UnLike</button>
            {% else %}
                <button class="btn btn-success btn-sm" type="submit" name="question_id" value="{{ question.id }}">Like</button>
            {% endif %}
            {% endif %}
        </form>
        <!-- using the method | likes_count | in the question model without passign data by get_context_data -->
        <p>likes {{ question.likes_count }}</p>
    </div>


{% endblock %}
