{% extends "base.html"%}
{% load crispy_forms_tags %}
{% block title %}
    تغییر گذرواژه
{% endblock %}

{% block content %}

    <br>
    <div class="content-section" style="margin: auto; width: 30rem;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>        
            <button type="submit" class="btn btn-outline-dark mt-2">تغییر گذرواژه</button>
        </form>
    </div>

{% endblock %}