{% extends "base.html"%}
{% load crispy_forms_tags %}
{% block title %}
    ورود
{% endblock %}

{% block content %}

    <style>

        div.content-section {
            direction: rtl;
            width: 30rem;
            margin: auto;
        }

        legend {
            color: #6b705c;
            font-weight: 900;
        }

        a {
            text-decoration: none;
            color: #ffffff;
        }

        a:hover {
            color: #000000;
        }

    </style>


    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend >وارد شوید</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-dark">ورود</button>
            </div>
        </form>        
        <div class="border-top pt-3">
            <p>حسابی ندارید؟
                <button class="btn btn-secondary">
                    <a  href="{% url 'register' %}"> ثبت نام</a>
                </button>
            </p>
        </div>
    </div>

{% endblock %}