{% extends "base.html"%}
{% block title %}
    Profile 
{% endblock %}

{% block content %}

<style>
    
    div.content-section{
        width: 40rem;
        margin: auto;
        /* background-color: yellow; */
    }


</style>


    <div class="content-section">
        <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
        </div>
        <!-- FORM HERE -->
    </div>
  
{% endblock %}